<h1>Employees</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <% if current_user.employee.role? == "admin" %>
        <th>Active</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.last_name %></td>
        <td><%= employee.first_name %></td>
        <% if current_user.employee.role? == "admin" %>
          <td><%= employee.active ? "Yes" : "No" %></td>
        <% end %>
        <td>
          <%= link_to 'View', employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_employee_path(employee), :class => 'btn btn-mini' %>
          <% if current_user.employee.id != employee.id %>
            <%= link_to 'Delete', employee_path(employee), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="smtext">
  <%= will_paginate @employees, :previous_label => "&larr;&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;&rarr;" %>
</span>

<%= link_to 'New', new_employee_path, :class => 'btn btn-primary' %>
