<h1>Employees</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.active ? "Yes" : "No" %></td>
        <td>
          <%= link_to 'View', employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_employee_path(employee), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', employee_path(employee), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_employee_path, :class => 'btn btn-primary' %>
