<h1>Employee</h1>
<br>
<p>
  <b>Name:</b>
  <%=h @employee.name %>
<p>
  <b>Phone:</b>
  <%= @employee.phone.insert(3,"-").insert(7,"-")%>
</p>

<p>
  <b>Role: </b>
  <%= @employee.role.capitalize %>
</p>

<p>
  <b>Date of Birth: </b>
  <%= @employee.date_of_birth.strftime("%B %-d, %Y") %>
</p>

<p>
  <b>SSN: </b>
  <%= @employee.ssn %>
</p>

<p>
  <b>Active: </b>
  <%= @employee.active ? 'Yes' : 'No' %>
</p>

<br>
<br>
</p>
  <h3>Assignment History:</h3>
</p>
<br>
  
<table class="table table-striped">
  <thead>
    <th>Store Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Pay Level</th>
    <th>Actions</th>
  </thead>
  <tbody
  </tr>
<% @employee.assignments.each do|assignment| %>
  <tr>
    <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
    <td><%= assignment.start_date.strftime("%B %-d, %Y") %></td>
    <td><%= assignment.end_date.nil? ? "Ongoing" : assignment.end_date.strftime("%B %-d, %Y") %></td>
    <td><%= assignment.pay_level %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini'  %></td>
  </tr>
<% end %>
</tbody>
</table>
<br />
<p><%= link_to 'New Assignment', new_assignment_path, :class => 'btn btn-primary' %></p>