<h1>Assignments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Store</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.by_store.by_employee.each do |assignment| %>
      <tr>
        <td><%= assignment.id %></td>
        <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
        <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
        <td>
          <%= link_to 'View', assignment_path(assignment), :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', assignment_path(assignment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_assignment_path, :class => 'btn btn-primary' %>
