<h1>Assignments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Store</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.id, assignment_path(assignment) %></td>
        <td><%= assignment.store.name %></td>
        <td><%= assignment.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', assignment_path(assignment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_assignment_path, :class => 'btn btn-primary' %>
