<h1>Store</h1>

<p>
  <b>Name</b><br>
  <%= @store.name %>
</p>

<p>
  <b>Street</b><br>
  <%= @store.street %>
</p>

<p>
  <b>City</b><br>
  <%= @store.city %>
</p>

<p>
  <b>State</b><br>
  <%= @store.state %>
</p>

<p>
  <b>Zip</b><br>
  <%= @store.zip %>
</p>

<p>
  <b>Phone</b><br>
  <%= @store.phone.insert(3,"-").insert(7,"-") %>
</p>

<p>
  <b>Active</b><br>
  <%= @store.active %>
</p>

<br>
<br>
</p>
  <h3>Employee Listing:</h3>
</p>
<br>
  
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Role</th>
    <th>Phone</th>
    <th>Active</th>
    <th>Actions</th>
  </thead>
  <tbody
  </tr>
<% @store.assignments.by_employee.each do|assignment| %>
  <tr>
    <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
    <td><%= assignment.employee.role.capitalize %></td>
    <td><%= assignment.employee.phone.insert(3,"-").insert(7,"-") %></td>
    <td><%= assignment.employee.active ? "Yes" : "No" %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini'  %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Back', stores_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_store_path(@store), :class => 'btn' %>
  <%= link_to 'Delete', store_path(@store), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
