<h1>Jobs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.active ? "Yes" : "No" %></td>
        <td>
          <%= link_to 'View', job_path(job), :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_job_path(job), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', job_path(job), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="smtext">
  <%= will_paginate @jobs, :previous_label => "&larr;&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;&rarr;" %>
</span>

<%= link_to 'New', new_job_path, :class => 'btn btn-primary' %>
