<h1>Job</h1>

<p>
  <b>Name</b><br>
  <%= @job.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @job.description %>
</p>

<p>
  <b>Active</b><br>
  <%= @job.active? ? "Yes" : "No" %>
</p>

<div class="form-actions">
  <%= link_to 'Back', jobs_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_job_path(@job), :class => 'btn' %>
  <%= link_to 'Delete', job_path(@job), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
