<div class="well">
	<h2>Quick Links</h2>
	<ul>Search for an employee:
		
			<%= form_tag(search_path) do %>
				<%= text_field_tag('query', '', :size => 12) %>
				<%= submit_tag('Find') %>
			<% end %>
		
		<li><%= link_to (raw("<i class=\"icon-user\"></i> Create New Employee")), new_employee_path %></li>
		<li><%= link_to (raw("<i class=\"icon-home\"></i> Create New Store")), new_store_path %></li>
		<li><%= link_to (raw("<i class=\"icon-pencil\"></i> Create New Job")), new_job_path %></li>
		<br>
		<li><%= link_to (raw("<i class=\"icon-user\"></i> View Employees")), employees_path %></li>
		<li><%= link_to (raw("<i class=\"icon-home\"></i> View Stores")), stores_path %></li>
		<li><%= link_to (raw("<i class=\"icon-tag\"></i> View Assignments")), assignments_path %></li>
		<li><%= link_to (raw("<i class=\"icon-time\"></i> View Shifts")), shifts_path %></li>
		<li><%= link_to (raw("<i class=\"icon-pencil\"></i> View Jobs")), jobs_path %></li>
		<li><%= link_to (raw("<i class=\"icon-cog\"></i> View Users")), users_path %></li>
		
	</ul>
</div>