<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>
    
      <%= f.input :employee_id, :label => "Employee ID", :as => :integer %>
      <%= f.input :email, :label => "Email", :as => :string %>
      <%= f.input :password_digest, :label => "Password Digest", :as => :string %>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
