<% if !logged_in? %>
<h1>Welcome to Creamery</h1>
<br>
<p>If you have yet to try our ice cream, head down to
one of our shops ASAP and fall in love with our exclusive
ice cream flavors!
</p>

<h2>Our Store Listing</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.phone.insert(3,"-").insert(7,"-") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Store Locations<h3>
  <%= image_tag @stores.last.create_active_stores_map_link %>
  
<% end %>

<% if logged_in? %>
  <h1>Welcome, <%= current_user.employee.proper_name =%></h1>
  <br>
    
  <% if current_user.employee.role? == "admin" %>
    <%= render :partial => "partials/admin_dashboard" %>
  <% end %>
  
   <% if current_user.employee.role? == "manager" %>
    <%= render :partial => "partials/manager_dashboard" %>
  <% end %>
  
  <% if current_user.employee.role? == "employee" %>
    <%= render :partial => "partials/employee_dashboard" %>
  <% end %>

<% end %>