<h1>Shift</h1>

<p>
  <b>Assignment</b><br>
  <%= @shift.assignment.name %>
</p>

<p>
  <b>Date</b><br>
  <%= @shift.date.strftime("%B %-d, %Y") %>
</p>

<p>
  <b>Start time</b><br>
  <%= @shift.start_time.strftime("%l:%M%P") %>
</p>

<p>
  <b>End time</b><br>
  <%= @shift.end_time.nil? ? "Ongoing" : @shift.end_time.strftime("%l:%M%P") %>
</p>
<p>
  <b>Total Hours</b><br>
  <%= @shift.time_worked_in_hours %>
</p>
<p>
<p>
  <b>Notes</b><br>
  <%= (@shift.notes == "") ? "None" : @shift.notes %>
</p>

<div class="form-actions">
  <%= link_to 'Back', shifts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_shift_path(@shift), :class => 'btn' %>
  <%= link_to 'Delete', shift_path(@shift), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
