<!DOCTYPE html>
<html>
<head>
  <title>A&M Creamery :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!-- NAV BAR HERE -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</a>
	<a class="brand" href="/">Creamery</a>
	<div class="nav-collapse">
	  <ul class="nav">
	    <li><%= link_to "About Us", home_path('about') %></li>
	    <li><%= link_to "Contact Us", home_path('contact') %></li>
	    <li><%= link_to "Privacy Policy", home_path('privacy') %></li>
	  </ul>
	  <ul class="nav pull-right">
	      <% if logged_in? %>
		<li><%= link_to 'Logout', logout_path %></li>
	      <% else %>
		<li><%= link_to 'Login', login_path %></li>
	      <% end %>
	  </ul>
	</div>
      </div>
    </div>
  </div>
  
  <!-- MAIN CONTENT HERE -->
  <div class="container">
    
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= :notice ? "success" : "error" %>
        <a class="close" data-dismiss="alert"></a>
        <%= msg %>
      </div>
    <% end %>
  
    <div class="row">
      <!-- main content in the two-thirds section -->
      <div class="span8">
  	<%= yield %>
      </div>
      <!-- quick links on the side in the one-third section -->
      <div class="span4">
	<%= render :partial => "partials/quick_links" %>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container">
      <%= render :partial => "partials/footer" %>
    </div>
  </footer>
  
</body>
</html>
